#body{
	margin-top: 110px !important;
}
#cases .item h2 {
    display: block;
    text-align: center;
    width: 96px;
    margin: auto;
    border-bottom: solid 3px #ff5722;
    line-height: 32px;
    margin: 25px auto 24px auto;
    font-size: 15px;
}
#cases .item .icon {
    width: 168px;
    height: 168px;
    margin: auto;
}
#body .item img {
    width: 100%;
    height: 100%;
}
#cases .item .content {
    padding-top: 21px;
    box-sizing: border-box;
}
#cases .item .sub-item {
    width: 300px;
    margin: auto;
    font-size: 13px;
    line-height: 21px;
    color: #212121;
}
#cases .item .sub-item .label {
    display: inline;
    color: #727272;
}
#cases .item .sub-item .value {
    display: inline;
}
#company h2 {
    font-size: 17px;
    color: #ff5722;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 10px;
}
#company .icon {
    width: 320px;
}
#company img {
    width: 100%;
}
