
/*index */
body{
	/*cursor: pointer;*/

}

#index_a:hover{
	color: white;
	text-decoration: none;
}

/*轮播图wrap*/
.index_wrap{
	height: 700px;
	position: relative;
	width: 100%;
}
@media screen and (max-width: 1200px){
	.index_wrap{
		width: 1200px;
	}
}
/*产品服务块*/

.index_server{
	width: 1200px;
	margin: 0 auto;
}	
.index_server_title{
	width: 170px;
	height: 50px;
	line-height: 50px;
	margin: 70px auto 100px;
	color: #212121;
	text-align: center;
	font-family:"Microsoft YaHei", "微软雅黑","Times New Roman",Georgia,Serif;
	font-size: 36px;
	letter-spacing: 0;
}
.index_server_details{
	width: 1200px;
	margin: 0 auto;
	cursor: pointer;
}
.index_server_details .serviceA{
	text-decoration: none;
}
.service0,.service1,.service2,.service3{
	display: inline-block;
	width: 570px;
	margin-left: 10px;
}

.service1,.service3{
	margin-left: 40px;
}
.service_img{
	width: 570px;
	height: 451px;
	background-size: contain;
}
.service_img0{
	background-image: url('../images/Bitmap0.png');
}
.service_img1{
	background-image: url('../images/Bitmap1.png');
}
.service_img2{
	background-image: url('../images/Bitmap2.png');
}
.service_img3{
	background-image: url('../images/Bitmap3.png');
}
.service_text{
	width: 500px;
	margin: 20px auto 60px;
}
.service_text h3{
	font-size: 18px;
	line-height: 50px;
	color: #212121;
}
.service_text p{
	font-size: 14px;
	line-height: 30px;
	color: #666666
}




/*服务对象块*/
.index_custom{
    width: 1200px;
   	margin: 0 auto;
}
/*标题*/
.index_custom h3{
    width: 543px;
    height: 50px;
    line-height: 50px;
    margin: 50px auto 100px;
    text-align: center;    
    font-size: 36px;
	color: #212121;
}
/*图*/
.custom_details{
	width: 100%;
}
.custom_details li{
	display: inline-block;
	width: 229px;
	height: 200px;
	margin-left: 7px;
	margin-bottom: 9px;
}
.custom_details li:nth-child(5n + 1){
	margin-left: 0;
}
.custom_img{
	width: 227px;
	height: 198px;
	/*box-sizing: border-box;*/
	border: 1px solid rgba(110, 110, 110, 0.3);
	background-size: cover;
}
.custom_img1{
	background-image: url('../images/co1.png');
}
.custom_img2{
	background-image: url('../images/co2.png');
}

.custom_img3{
	background-image: url('../images/co3.png');
}

.custom_img4{
	background-image: url('../images/co4.png');
}

.custom_img5{
	background-image: url('../images/co5.png');
}

.custom_img6{
	background-image: url('../images/co6.png');
}

.custom_img7{
	background-image: url('../images/co7.png');
}

.custom_img8{
	background-image: url('../images/co8.png');
}

.custom_img9{
	background-image: url('../images/co9.png');
}

.custom_img10{
	background-image: url('../images/co10.png');
}

.custom_img11{
	background-image: url('../images/co11.png');
}

.custom_img12{
	background-image: url('../images/co12.png');
}
.custom_img13{
	background-image: url('../images/co13.png');
}
.custom_img14{
	background-image: url('../images/co14.png');
}
.custom_img15{
	background-image: url('../images/co15.png');
}
