body{
	background-color: white !important;
}
#main .title-s{
	text-align: center;
    line-height: 40px;
    font-size: 24px;
    margin: 70px 0px;
    color: #212121;
}
#main .title-s:after{
	display: block;
    width: 96px;
    height: 3px;
    background-color: #FF5722;
    content: '';
    position: static;
    margin: auto;
}
#main #app-tg .content{
	margin-top: 55px;
	text-align: center;
}
#main #app-tg .item{
	width: 174px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 0 13px;
}
#main #app-tg .item .icon{
	width: 90px;
    height: 90px;
    display: inline-block;
}
#main #app-tg .item .icon img{
	width: 100%;
	height: 100%;
}
#main #app-tg .item .title-item{
	text-align: center;
    font-size: 17px;
    color: #212121;
    line-height: 50px;
}
#main #app-tg .item .desc{
	font-size: 15px;
    color: #727272;
    text-align: center;
    line-height: 20px;
    font-family: PingFangSC-Regular;
}

#data-mark .content{
	text-align: center;
    word-spacing: 141px;
}
#data-mark .content .item{
	display: inline-block;
    width: 286px;
    margin-bottom: 20px;
}
#data-mark .content .item:before{
	display: block;
    content: ' ';
    width: 21px;
    height: 21px;
    position: absolute;
    margin-left: -37px;
    margin-top: 4px;
    border-radius: 100%;
    background-color: #ffccbc;
}
#data-mark .content .item .title-content{
	font-size: 17px;
    color: #212121;
    line-height: 30px;
}
#data-mark .content .item .desc{
	font-size: 15px;
    color: #727272;
    line-height: 20px;
}
#data-crawler .content{
	text-align: center;
}
#data-crawler .content .item{
	display: inline-block;
	margin: 0px 15px;
	width: 138px;
	height: 216px;
	padding: 15px;
	box-sizing: border-box;
	background: #FDEEE9;
	border-radius: 15px 0 15px 0;
	vertical-align: top;
}
#data-crawler .content .item .title-content{
	font-size: 17px;
	line-height: 40px;
	text-align: center;
	color: #212121;
}
#data-crawler .content .item .desc{
	font-size: 15px;
    color: #727272;
    line-height: 1.3;
    text-align: center;
}
#channel-check .content{
	text-align: center;
}
#channel-check .content .item{
	display: inline-block;
    text-align: center;
    width: 168px;
    padding: 0 14px;
    box-sizing: border-box;
}
#channel-check .content .item .icon{
	display: inline-block;
	width: 90px;
	height: 90px;
}
#channel-check .content .item .icon img{
	width: 100%;
	height: 100%;
}
#channel-check .content .item .title-content{
	font-size: 17px;
	color: #212121;
	line-height: 52px;
	text-align: center;
}
#channel-check .content .item .desc{
	font-size: 15px;
	color: #727272;
	text-align: center;
	line-height: 1.3;
}
#other-service .content{
	text-align: center;
}
#other-service .content .item{
	width: 386px;
	height: 153px;
	display: inline-block;
	padding: 7px 64px;
	box-sizing: border-box;
	margin: 0px 12px;
	background-color: #FDEEE9;
	vertical-align: top;
}
#other-service .content .item .title-content{
	font-size: 17px;
	line-height: 58px;
	color: #212121;
	text-align: center;
}
#other-service .content .item .desc{
	font-size: 15px;
	color: #727272;
	text-align: center;
	line-height: 1.3;
}
#service-advantage .content{
	line-height: 48px;
    font-size: 17px;
    color: #212121;
    margin-left: 167px;
    box-sizing: border-box;
}
#service-advantage .content:before{
	content: " ";
	background: #FFCCBC;
	position: absolute;
	height: 168px;
	width: 29px;
	margin-left: -53px;
	margin-top: 12px;
}
.service_wrap {
	width: 100%;
	margin-top: 50px;

}
.service_item{
	position: relative;
	margin-top: 20px;
	height:200px;
}
.service_item div{
	display: inline-block;
}

.service_img{
	width: 324px;
 	height: 182px;
 	background-size: contain;
 	background-repeat: no-repeat;
}
.service_img1{	
 	background-image: url('../images/100.png');	
}
.service_img2{
	background-image: url('../images/101.png');	
}
.service_img3{
	background-image: url('../images/102.png');	
}
.service_img4{
	background-image: url('../images/103.png');	
}
.service_img5{
	background-image: url('../images/104.png');	
}
.service_img6{
	background-image: url('../images/105.png');	
}
.service_img7{
	background-image: url('../images/106.png');	
}
.service_img8{
	background-image: url('../images/107.png');	
}
.service_img9{
	background-image: url('../images/108.png');	
}
.service_img10{
	background-image: url('../images/109.png');	
}
.service_img11{
	background-image: url('../images/111.png');	
}

.service_text{
	position: absolute;
	left: 340px;
	top: 0px;
	width: calc(100% - 340px);
}
.service_text h3{

	height: 40px;
	font-size: 18px;
	color: #333;
	line-height: 40px;
	font-weight: normal;
	font-family: "Microsoft YaHei", "微软雅黑",  "Times New Roman",Georgia,Serif;
}
.service_text p{
	
	line-height: 30px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	font-family: "Microsoft YaHei", "微软雅黑",  "Times New Roman",Georgia,Serif;

}
.service_text span{
	display: inline-block;
	width: 80px;
	height: 26px;
	margin-right: 10px;
	margin-top: 10px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	color: rgba(110, 110, 110, 0.5);
	border: 1px solid rgba(110, 110, 110, 0.5);
	border-radius: 5px;
}
.service_text span:hover{
	cursor: pointer;
}

