body{
	background-color: white !important;
}


.service_banner img{
	width: 100%;
}


.service_item_wrap{
	height: 350px;
}
.service_item{
	position: relative;
	width: 1200px;
	height: 350px;
	margin: 10px auto;
}
.service_item:hover{
	cursor: pointer;
}
.service_item_wrap:nth-child(2n + 1){
	background-color: #F6F6F6;
}
.service_item_wrap:nth-child(2n){
	background-color: #FFFFFF;
}
.service_item div{
	display: inline-block;
}

.service_img{
	width: 376px;
 	height: 246px;
 	margin-top: 52px;
}
.service_img img{
	width: 376px;
	height: 246px;
}
.service_text{
	position: absolute;
	left: 447px;
	margin-top: 75px;
	width: calc(100% - 447px);
}
.service_text h3{
	width: 500px;
	height: 50px;
	line-height: 40px;
	font-size: 36px;
	color: #212121;
}
.service_text p{
	margin-top: 13px;
	line-height: 20px;
	font-size: 14px;
	color: #666666 ;
	font-weight: normal;
	font-family: "Microsoft YaHei", "微软雅黑",  "Times New Roman",Georgia,Serif;

}
.service_text span{
	display: inline-block;
	width: 94px;
	height: 34px;
	margin-right: 10px;
	margin-top: 36px;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	color: rgba(110, 110, 110, 0.5);
	border: 1px solid #999999;
	border-radius: 2px;
}
.service_text span:hover{
	cursor: pointer;
}

.detail{
	width: 1200px;
	margin: 0 auto;
}
.crumbs{
	height: 34px;
	line-height: 34px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #212121;
}
.crumbs a{
	display: inline-block;
	margin: 0 10px;
}
.crumbs a:hover{
	color: #FF5300;
}
.detail_top_img{
	display: inline-block; 
	width: 376px;
}
.detail_top_img img{
	width: 376px;
	height: 246px;
}
.detail_top_text{
	display: inline-block;
	width: 751px;
	margin-left: 65px;
	margin-top: 10px;
}
.detail_top_text h3{
	height: 50px;
	line-height: 40px;
	margin-bottom: 9px;
	font-size: 36px;
	color:  #212121;
}

.detail_top_text span{
	display: inline-block;
	width: 94px;
	height: 26px;
	margin-right: 10px;
	text-align: center;
	color: #999999;
	font-size: 10px;
	line-height: 26px;
	box-sizing: border-box;
	border: 1px solid #999999;
	border-radius: 2px;

}
.detail_top_text p{
	margin-top: 21px;
	margin-bottom: 32px;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
}
.detail_top_text span.span_btn{
	display: inline-block;
	width: 124px;
	height: 34px;
	margin-right: 10px;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 2px;
	color: #FF5300;
	border: 1px solid #FF5300;
}
.detail_top_text span.span_btn:hover{
	color: #fff;
	background-color: #FF5300;
	cursor: pointer;
}
.detail_middle{
	height: 64px;
	width: 100%;
	margin: 52px 0 27px;
	box-sizing: border-box;
	background: #F7F7FA;
	border: 1px solid #CFD8DE;

}
.detail_introduce_btn, .detail_example_btn{
	display: inline-block;
	width: 138px;
	height: 63px;
	margin-right: 20px;
	line-height:63px;
	text-align: center; 
	box-sizing: border-box;
	cursor: pointer;
}
.introduce_example_active{
	border-bottom: 3px solid #FF5300;
	color: #FF5300;
}



.shade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: rgba(255, 255, 255, 0.7);
}
.panel{
	width: 348px;
	height: 417px;
	margin: 0 auto;
	margin-top: 15%;
	border-radius: 6px;
	background-color: #fff;
}
.panel_title{
	width: 100%;
	height: 86px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-image: linear-gradient(-180deg, #FF9047 0%, #FF5722 100%);
}
.panel_title p{
	text-align: center;
	height: 86px;
	line-height: 86px;
	font-size: 18px;
	color: #FFFFFF;
}
.panel div{
	text-align: center;
}
label{
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	margin: 20px 0 10px 10px;
}
textarea{
	width: 308px;
	height: 98px;
}
input{
	width: 308px;
	height: 36px;
}
.panel_btn{
	width: 100%;
	height: 58px;
	margin-top: 20px;
	border-top: 3px solid #EBEBEB; 
}

.panel_btn button:nth-child(1){
	margin-right: 20px;
}
.panel_btn button:hover{
	cursor: pointer;
}

.detail_introduce p,.detail_introduce h4{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	line-height: 30px;
}
.detail_introduce h4{
	color: #FF5300;
}
.detail_introduce div{
	margin-left: 50px;
}
.detail_introduce div img{
	display: block;
	height: 400px;
}
.detail_introduce div h4{
	color: #FF5300;
	margin-left: 0px;
}
.detail_example div{
	margin-left: 50px;
}
.detail_example div h4{
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 30px;
	color: #FF5300;
}
.detail_example div img{
	display: block;
	height: 400px;
}