
/*轮播图*/

*{
	padding: 0;
	margin: 0;
}

/*每个轮播页面样式*/
#container,.sections,.section{
	height:100%;
	position: relative;
	color: #fff;
}
#container{
	width: 100%;
	overflow-x: hidden;
}
#section0,
#section1,
#section2,
#section3{
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
}
#section0{
	background-image: url('http://p02hchp62.bkt.clouddn.com//pc/images/index0.png');
}
#section1{
	background-image: url('http://ozlo9aly1.bkt.clouddn.com/pc/images/index1.png');
}
#section2{
	background-image: url('http://ozlo9aly1.bkt.clouddn.com/pc/images/index2.png');
}

/*第一个轮播*/
.intro_section0{
	width: 800px;
	margin: 0 auto;
	margin-top: 115px;
	overflow: hidden;
}
.intro_section0 h3.h3_left{
	margin-top: 50px;
	font-size: 100px;
	font-style: italic;
	color: #fff;
	text-align: left;
	-ms-transform:rotate(-9deg); /* Internet Explorer */
	-moz-transform:rotate(-9deg); /* Firefox */
	-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
	-o-transform:rotate(-9deg); /* Opera */
	transform:rotate(-9deg);
}
.intro_section0 h3.h3_right{
	font-size: 100px;
	font-style: italic;
	color: #fff;
	margin-left: 300px;
	text-align: center;
	-ms-transform:rotate(-9deg); /* Internet Explorer */
	-moz-transform:rotate(-9deg); /* Firefox */
	-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
	-o-transform:rotate(-9deg); /* Opera */
	transform:rotate(-9deg);
}
.intro_section0 .text-wrap{
	margin: 0 auto;
	width: 800px;
	/*background-color: orange;*/
}
.intro_section0 .text-wrap p{
	display: inline-block;
	width: 24%;
	font-size: 24px;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	box-sizing: border-box;
	text-align: center;
}
.intro_section0 div.button{
	display: inline-block;
	width: 300px;
	height: 60px;
	margin-top: 100px;
	margin-left: 250px;
	line-height: 60px;
	font-size: 28px;
	text-align: center;
	border-radius: 30px;
	color: #000;
	background-color: #fff;
}
.intro_section0 div.button:hover{
	color:  #FF5300;
}

/*第二个轮播*/
.intro_section1{
	width: 60%;
	margin-top: 204px;
	margin-left: 12%;	
}
.section1_0{
	font-size: 40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
}
.section1_1,.section1_2{
	font-size: 20px;
	height: 25px;
	line-height: 25px;
}
.section1_3{		
	font-size: 18px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
	border: 1px solid white;
	border-radius: 5px;
}
.section1_3:hover{		
	color: #F90;
	border: 1px solid #F90;
}

/*第三个轮播*/
.intro_section2{
	width: 60%;
	margin-top: 204px;
	margin-left: 12%;	
}
.section2_0{
	font-size: 40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
}
.section2_1,.section2_2{
	font-size: 20px;
	height: 25px;
	line-height: 25px;
}
.section2_3{		
	font-size: 18px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
	border: 1px solid white;
	border-radius: 5px;
}
.section2_3:hover{
	color: #F90;
	border: 1px solid #F90;
}

/*媒体查询 屏宽 1100px-1500px*/
@media screen and (min-width: 1100px) and (max-width: 1500px){
	/*第一个轮播*/
	.intro_section0{
		width: 800px;
		margin: 0 auto;
		margin-top: 115px;
	}
	.intro_section0 h3.h3_left{
		margin-top: 50px;
		font-size: 100px;
		font-style: italic;
		color: #fff;
		text-align: left;
		-ms-transform:rotate(-9deg); /* Internet Explorer */
		-moz-transform:rotate(-9deg); /* Firefox */
		-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
		-o-transform:rotate(-9deg); /* Opera */
		transform:rotate(-9deg);
	}
	.intro_section0 h3.h3_right{
		font-size: 100px;
		font-style: italic;
		color: #fff;
		margin-left: 300px;
		text-align: center;
		-ms-transform:rotate(-9deg); /* Internet Explorer */
		-moz-transform:rotate(-9deg); /* Firefox */
		-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
		-o-transform:rotate(-9deg); /* Opera */
		transform:rotate(-9deg);
	}
	.intro_section0 div.button{
		display: inline-block;
		width: 300px;
		height: 60px;
		margin-top: 100px;
		margin-left: 250px;
		line-height: 60px;
		font-size: 30px;
		text-align: center;
		border-radius: 30px;
		color: #000;
		background-color: #fff;
	}
	.intro_section0 div.button:hover{
		color:  #FF5300;
	}
	
 	/*第二个轮播*/
	.intro_section1{
		width: 60%;
		margin-top: 204px;
		margin-left: 15%;	
		/*margin-left: 357px;*/
	}
	.section1_0{
		font-size: 44px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	.section1_1,.section1_2{
		font-size: 20px;
		height: 25px;
		line-height: 25px;
	}
	.section1_3{		
		font-size: 20px;
		width: 130px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-top: 30px;
		border: 1px solid white;
		border-radius: 5px;
	}
	.section1_3:hover{		
		color: #F90;
		border: 1px solid #F90;
	}
	/*第三个轮播*/
	.intro_section2{
		width: 60%;
		margin-top: 204px;
		margin-left: 15%;	
	}
	.section2_0{
		font-size: 44px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	.section2_1,.section2_2{
		font-size: 20px;
		height: 25px;
		line-height: 25px;
	}
	.section2_3{		
		font-size: 20px;
		width: 130px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-top: 30px;
		border: 1px solid white;
		border-radius: 5px;
	}
	.section2_3:hover{
		color: #F90;
		border: 1px solid #F90;
	}

}
/*媒体查询 大于1500*/
@media screen and (min-width: 1500px){
	/*第一个轮播*/
	.intro_section0{
		width: 800px;
		margin: 0 auto;
		margin-top: 115px;
	}
	.intro_section0 h3.h3_left{
		margin-top: 50px;
		font-size: 100px;
		font-style: italic;
		color: #fff;
		text-align: left;
		-ms-transform:rotate(-9deg); /* Internet Explorer */
		-moz-transform:rotate(-9deg); /* Firefox */
		-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
		-o-transform:rotate(-9deg); /* Opera */
		transform:rotate(-9deg);
	}
	.intro_section0 h3.h3_right{
		font-size: 100px;
		font-style: italic;
		color: #fff;
		margin-left: 300px;
		text-align: center;
		-ms-transform:rotate(-9deg); /* Internet Explorer */
		-moz-transform:rotate(-9deg); /* Firefox */
		-webkit-transform:rotate(-9deg); /* Safari 和 Chrome */
		-o-transform:rotate(-9deg); /* Opera */
		transform:rotate(-9deg);
	}
	.intro_section0 div.button{
		display: inline-block;
		width: 300px;
		height: 60px;
		margin-top: 100px;
		margin-left: 250px;
		line-height: 60px;
		font-size: 35px;
		text-align: center;
		border-radius: 30px;
		color: #000;
		background-color: #fff;
	}
	.intro_section0 div.button:hover{
		color:  #FF5300;
	}
	/*第二个轮播*/
	.intro_section1{
		width: 60%;
		margin-top: 204px;
		margin-left: 15%;	
	}
	.section1_0{
		font-size: 48px;
		height: 55px;
		line-height: 55px;
		margin-bottom: 30px;
	}
	.section1_1,.section1_2{
		font-size: 22px;
		height: 25px;
		line-height: 25px;
	}
	.section1_3{		
		font-size: 22px;
		width: 130px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-top: 30px;
		border: 1px solid white;
		border-radius: 5px;
	}
	.section1_3:hover{		
		color: #F90;
		border: 1px solid #F90;
	}
	/*第三个轮播*/
	.intro_section2{
		width: 60%;
		margin-top: 204px;
		margin-left: 15%;	
	}
	.section2_0{
		font-size: 48px;
		height: 55px;
		line-height: 55px;
		margin-bottom: 30px;
	}
	.section2_1,.section2_2{
		font-size: 22px;
		height: 25px;
		line-height: 25px;
	}
	.section2_3{		
		font-size: 22px;
		width: 130px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-top: 30px;
		border: 1px solid white;
		border-radius: 5px;
	}
	.section2_3:hover{
		color: #F90;
		border: 1px solid #F90;
	}

}

/*控制点样式*/
.intro{
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
.intro a{
	width: 100%;
	height: 100%;
}
.pages{
	position:absolute;
	list-style: none;
}
.vertical.pages{
	right: 10px;
	top: 50%;
}
.horizontal.pages{
	left: 50%;
	transform: translateX(-27px);
	bottom: 10px;
}
.pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 10px 5px;
	cursor: pointer;
}
.horizontal.pages li{
	display: inline-block;
	vertical-align: middle;
}
.pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #FFFE00;
	background: none;
}









